@media only screen and (max-width: 1199px) {
    .igniteRally {
        background: black url("../../images/background/desktop/rally/background-1.png") no-repeat center;
        background-size: cover;
        padding-bottom: 10vh;
    }

    .igniteRally .rallyLogo img {
        padding-top: 3vh;
        padding-left: 1vw;
        width: 30%;
    }

    .igniteRally .rallyTitle img {
        margin-top: 5vh;
        margin-left: 25%;
        width: 50%;
        height: 100% !important;
    }

    .rallySchedule {
        background: black url("../../images/background/desktop/rally/background-2.png") no-repeat center;
        background-size: cover;
        padding-bottom: 5vh;
    }

    .rallySchedule .watchLive img {
        padding-top: 5vh;
        width: 50%;
    }

    .rallySchedule .streamingTime img {
        margin-top: 5vh;
        margin-left: 25%;
        width: 50%;
        height: auto;
    }

    .rallySchedule .whatsHappening img {
        margin-top: 5vh;
        margin-left: 30%;
        width: 40%;
        height: auto;
    }

    .rallyInfo {
        background: black url("../../images/background/desktop/rally/background-3.png") no-repeat center;
        background-size: cover;
        padding-bottom: 5vh;
        align-items: center;
    }

    .rallyInfo .topText img {
        margin-top: 5vh;
        width: 100%;
    }

    .rallyInfo .middleImage img {
        margin-top: 2vh;
        margin-left: 25%;
        width: 50%;
    }

    .rallyInfo .bottomText img {
        margin-top: 2vh;
        width: 100%;
    }

    .speakers {
        background: black;
    }

    .speakersRally {
        background: black;
    }

    .speakersRally img {
        padding-top: 2vh;
        margin-left: 10vw;
        width: 80%;
    }

    .speakers-andy {
        background: #000000 url("../../images/background/mobile/rally/andyBg.png") no-repeat center;
        background-size: cover;
        padding-top: 4vh;
    }

    .speakers-andy .leftSpeaker img {
        bottom: 0;
        width: 110%;
        height: auto;
        padding-left: 4vw;
        margin-bottom: 2vh;
    }

    .speakers-andy .rightSpeaker img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
    }

    .streamingLive {
        background: black url("../../images/background/desktop/rally/background-2.png") no-repeat center;
        background-size: cover;
        padding-bottom: 5vh;
        align-items: center;
    }

    .streamingLive .streamingTime img {
        margin-top: 5vh;
        margin-left: 25%;
        width: 50%;
        height: auto;
    }
}