.App {
  text-align: center;
}

.section-1 {
  background: black url("../images/background/IGNITEYLS Website Draft2-01.png") no-repeat center;
  background-size: cover;
  height: 100vh;
  align-items: center;
  position:relative;
}

.registerBtn {
  min-width: 100%;
  bottom: 0;
  position: absolute;
}

.section-1 button {
  background : transparent url("../images/buttons/buttons-full/Buttons Full-01.png") no-repeat center;
  background-size: contain;
  font-size: 4rem;
  color: transparent;
  margin-bottom: 5rem;
  border: none;
}

.section-1 button:hover {
  color: transparent;
  background-color: transparent;
}

.section-1 button:active {
  color: transparent;
  background-color: transparent;
}

.section-2 {
  background: #ff6600 url("../images/background/IGNITEYLS Website Draft2-02.png") no-repeat center;
  background-size: contain;
  min-height: 100vh;
  color: white;
}

.section-3 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.column-1 {
  background: black url("../images/background/IGNITEYLS Website Draft2-03.png") no-repeat center;
  background-size: cover;
  min-height: 100vh;
  align-items: center;
  color: white;
}

.tellMeMoreBtn {
  min-width: 100%;
  bottom: 0;
  position: absolute;
}

.tellMeMoreBtn .container{
  background : transparent url("../images/buttons/buttons-full/Buttons Full-04.png") no-repeat center;
  background-size: contain;
  font-size: 8rem;
  color: transparent;
  margin-bottom: 10rem;
  border: none;
}

.column-2 {
  background: black url("../images/background/IGNITEYLS Website Draft2-04.png") no-repeat center;
  background-size: cover;
  min-height: 100vh;
  align-items: center;
  color: white;
}

.section-4 {
  background: black url("../images/background/IGNITEYLS Website Draft2-05.png") no-repeat center;
  background-size: cover;
  min-height: 56vh;
  color: white;
}

.section-5 {
  background: black url("../images/background/IGNITEYLS Website Draft2-06.png") no-repeat center;
  background-size: cover;
  min-height: 100vh;
  align-items: center;
}

.section-6 {
  background: black url("../images/background/IGNITEYLS Website Draft2-07.png") no-repeat center;
  background-size: cover;
  min-height: 50vh;
  align-items: center;
  color: white;
}



