@media only screen and (max-width: 1199px) {
  #content-desktop {display: none;}
  #content-mobile {display: block;}

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  .section-1 {
    background: black url("../images/background/mobile/section1.png") no-repeat center;
    background-size: cover;
    padding-bottom: 10vh;
  }

  .section-1 .igniteLogo img{
    padding-top: 3vh;
    padding-left: 3vh;
    width: 30%;
  }

  .section-1 .titleContainer img {
    padding-top: 8vh;
    width: 50%;
  }

  .section-1 .registerHomeBtn img{
    padding-top: 10vh;
    width: 50%;
  }

  .section-2 {
    background: #ff6600 url("../images/background/mainMenu/section2.png") no-repeat center;
    background-size: cover;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .section-2 img {
    width: 80%;
    padding-bottom: 5vh;
  }

  .section-2 .youtube-video {
    width: 80%;
    height: 30vh;
  }

  .section-3{
    background: black url("../images/background/mainMenu/column1.png") no-repeat center;
    background-size: cover;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .section-3 .titleContainer img {
    width: 70%;
  }

  .section-3 .tellMeMoreBtn img {
    margin-top: 5vh;
    width: 50%;
  }

  .section-3-1{
    background: black url("../images/background/mobile/comingSoonBg.png") no-repeat center;
    background-size: cover;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .section-3-1 img{
    width: 50%;
  }

  .section-4 {
    background: black url("../images/background/mainMenu/section4.png") no-repeat center;
    background-size: cover;
    padding-top: 2vh;
  }

  .section-4 .leftTitle img {
    width: 70%;
  }

  .section-4 .rightTitle img {
    margin-top: 6vh;
    width: 80%;
  }

  .section-5 {
    background: black url("../images/background/mainMenu/section5.png") no-repeat center;
    background-size: cover;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .section-5 .speakerTitle {
    width: 80%;
  }

  .section-5 .speakers .speakerName img {
    margin-top: 5vh;
    width: 80%;
  }

  form {
    text-align: center;
  }

  .formBackground {
    background: black;
    width: 90%;
  }

  .registrationTitle {
    width: auto;
    height: 4vh;
  }

  form input{
    width: 100%;
  }

  .formName {
    margin-top: 2vh;
    background: url("../images/form/IGNITEYLS Form-02.png") no-repeat;
    background-size: contain;
    color: transparent;
    font-size: 1rem;
    width: 100%;
  }

  .formAge {
    background: url("../images/form/IGNITEYLS Form-15.png") no-repeat;
    background-size: contain;
    color: transparent;
    font-size: 1rem;
    width: 100%;
  }

  .formNRIC {
    background: url("../images/form/IGNITEYLS Form-03.png") no-repeat;
    background-size: contain;
    color: transparent;
    font-size: 1rem;
    width: 100%;
  }

  .formHP {
    background: url("../images/form/IGNITEYLS Form-04.png") no-repeat;
    background-size: contain;
    color: transparent;
    font-size: 1rem;
    width: 100%;
  }

  .formEmail {
    background: url("../images/form/IGNITEYLS Form-05.png") no-repeat;
    background-size: contain;
    color: transparent;
    font-size: 1rem;
    width: 100%;
  }

  .participantKit {
    margin: 5vh 0 5vh 0;
    width: 80%;
  }

  .formHouse {
    background: url("../images/form/IGNITEYLS Form-06.png") no-repeat;
    background-size: contain;
    color: transparent;
    font-size: 1rem;
    width: 100%;
  }

  .formCity {
    background: url("../images/form/IGNITEYLS Form-07.png") no-repeat;
    background-size: contain;
    color: transparent;
    font-size: 1rem;
    width: 100%;
  }

  .formPostcode {
    background: url("../images/form/IGNITEYLS Form-08.png") no-repeat;
    background-size: contain;
    color: transparent;
    font-size: 1rem;
    width: 100%;
  }

  .formState {
    background: url("../images/form/IGNITEYLS Form-09.png") no-repeat;
    background-size: contain;
    color: transparent;
    font-size: 1rem;
    width: 100%;
  }

  .formSchool {
    background: url("../images/form/IGNITEYLS Form-10.png") no-repeat;
    background-size: contain;
    color: transparent;
    font-size: 1rem;
    width: 100%;
  }

  .formTeach {
    background: url("../images/form/IGNITEYLS Form-11.png") no-repeat;
    background-size: contain;
    color: transparent;
    font-size: 1rem;
    width: 100%;
  }

  .formRemarks {
    background: url("../images/form/IGNITEYLS Form-12.png") no-repeat;
    background-size: contain;
    color: transparent;
    font-size: 1rem;
    width: 100%;
  }

  .form-group button{
    background: transparent;
    border: transparent;
  }

  .form-group button img {
    width: 50%;
  }

  .disclaimer-container {
    margin-bottom: 1rem;
  }

  .disclaimerImg {
    width: 100%
  }

  .checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background: url("../images/form/I Agree Button-22.png") no-repeat;
    background-size: contain;
  }

  /* On mouse-over, add a grey background color */
  .checkbox-container :hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 0;
    top: 0;
    height: 30px;
    width: 30px;
    background: url("../images/form/I Agree Button-21.png") no-repeat;
    background-size: contain;
  }

  .formCheckbox {
    margin-bottom: 2vh;
    width: 100%;
  }

  .form-group input {
    border: 0px solid #444444;
    width: 100%;
    background: url("../images/form/IGNITEYLS Form-13.png") no-repeat right top;
    color: black;
    padding-left: 4px;
    font-size: 20px;
  }

  label {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome, Edge, Opera and Firefox */
  }
}

@media only screen and (min-width: 1200px) {
  #content-desktop {display: block;}
  #content-mobile {display: none;}

  .App {
    text-align: center;

    display: none;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  .section-1 {
    background: black url("../images/background/mainMenu/section1.png") no-repeat center;
    background-size: cover;
    height: 100vh;
    align-items: center;
    position: relative;
  }

  .section-1 .topTitle {
    padding-top: 15rem;
  }

  .section-1 .leftTitle img {
    position: relative;
    width: 70%;
    height: auto;
  }

  .section-1 .rightTitle img {
    position: relative;
    width: 70%;
    height: auto;
  }

  .registerHomeBtn {
    width: 100%;
    text-align: center;
    bottom: 10%;
    position: absolute;
  }

  .registerHomeBtn img {
    width: 20vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .section-2 {
    background: #ff6600 url("../images/background/mainMenu/section2.png") no-repeat center;
    background-size: 100% 100%;
    height: 100vh;
    min-width: 100%;
    color: white;
  }

  .section-2 img {
    margin-top: 5rem;
    width: 50%;
    height: auto;
  }

  .youtube-video {
    margin-top: 5rem;
    width: 50%;
    height: 60vh;
  }

  .section-3 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .column-1 {
    background: black url("../images/background/mainMenu/column1.png") no-repeat center;
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    color: white;
  }

  .column-1 img {
    margin-top: 30vh;
    width: 60%;
    height: auto;
  }

  .tellMeMoreBtn {
    width: 100%;
    bottom: 20;
    position: absolute;
  }

  .tellMeMoreBtn img {
    width: 20vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .column-2 {
    background: black url("../images/background/mainMenu/column2-1.png") no-repeat center;
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    color: white;
  }

  .section-4 {
    background: black url("../images/background/mainMenu/section4.png") no-repeat center;
    background-size: cover;
    height: 63.5vh;
    color: white;
    position: relative;
  }

  .section-4 .topTitle {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .section-4 .leftTitle img {
    bottom: 0;
    width: 70%;
    height: auto;
  }

  .section-4 .rightTitle img {
    padding-top: 15vh;
    width: 70%;
    height: auto;
  }

  .section-5 {
    background: black url("../images/background/mainMenu/section5.png") no-repeat center;
    background-size: cover;
    height: 100vh;
    align-items: center;
  }

  .speakerTitle {
    padding-top: 5rem;
    width: 50%;
    height: auto;
  }

  .speakers {
    padding-top: 5rem;
  }

  .speakerName img {
    width: 50%;
    height: auto;
  }

  /*.section-6 {*/
  /*  background: black url("../images/background/mainMenu/section6.png") no-repeat center;*/
  /*  background-size: cover;*/
  /*  height: 40em;*/
  /*  align-items: center;*/
  /*}*/

  .disclaimer-container {
    margin-bottom: 1rem;
  }

  .disclaimer-image {
    background: url("../images/form/disclaimer.png") no-repeat;
    background-size: contain;
    color: transparent;
    font-size: 10rem;
    width: 100%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome, Edge, Opera and Firefox */
  }

  .checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background: url("../images/form/I Agree Button-22.png") no-repeat;
    background-size: contain;
  }

  /* On mouse-over, add a grey background color */
  .checkbox-container :hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 0;
    top: 0;
    height: 30px;
    width: 30px;
    background: url("../images/form/I Agree Button-21.png") no-repeat;
    background-size: contain;
  }

  .formCheckbox {
    background: url("../images/form/I Agree Button-23.png") no-repeat;
    background-size: contain;
    color: transparent;
    font-size: 1.5rem;
    margin-left: 0.5rem;
    width: 100%;
  }

  .form-group input {
    border: 0px solid #444444;
    height: 39px;
    width: 100%;
    background: url("../images/form/IGNITEYLS Form-13.png") no-repeat right top;
    color: black;
    padding-left: 4px;
    font-size: 20px;
  }

  label {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome, Edge, Opera and Firefox */
  }

  form {
    text-align: center;
  }

  .formBackground {
    background: black;
    width: 50rem;
  }

  .registrationTitle {
    width: 30vw;
    height: 100%;
  }

  .formName {
    margin-top: 5vh;
    background: url("../images/form/IGNITEYLS Form-02.png") no-repeat;
    background-size: contain;
    color: transparent;
    font-size: 2rem;
    width: 100%;
  }

  .formAge {
    background: url("../images/form/IGNITEYLS Form-15.png") no-repeat;
    background-size: contain;
    color: transparent;
    font-size: 2rem;
    width: 100%;
  }

  .formNRIC {
    background: url("../images/form/IGNITEYLS Form-03.png") no-repeat;
    background-size: contain;
    color: transparent;
    font-size: 2rem;
    width: 100%;
  }

  .formHP {
    background: url("../images/form/IGNITEYLS Form-04.png") no-repeat;
    background-size: contain;
    color: transparent;
    font-size: 2rem;
    width: 100%;
  }

  .formEmail {
    background: url("../images/form/IGNITEYLS Form-05.png") no-repeat;
    background-size: contain;
    color: transparent;
    font-size: 2rem;
    width: 100%;
  }

  .participantKit {
    margin: 5vh 0 5vh 0;
    width: 30vw;
    height: 100%;
  }

  .formHouse {
    background: url("../images/form/IGNITEYLS Form-06.png") no-repeat;
    background-size: contain;
    color: transparent;
    font-size: 2rem;
    width: 100%;
  }

  .formCity {
    background: url("../images/form/IGNITEYLS Form-07.png") no-repeat;
    background-size: contain;
    color: transparent;
    font-size: 2rem;
    width: 100%;
  }

  .formPostcode {
    background: url("../images/form/IGNITEYLS Form-08.png") no-repeat;
    background-size: contain;
    color: transparent;
    font-size: 2rem;
    width: 100%;
  }

  .formState {
    background: url("../images/form/IGNITEYLS Form-09.png") no-repeat;
    background-size: contain;
    color: transparent;
    font-size: 2rem;
    width: 100%;
  }

  .formSchool {
    background: url("../images/form/IGNITEYLS Form-10.png") no-repeat;
    background-size: contain;
    color: transparent;
    font-size: 2rem;
    width: 100%;
  }

  .formTeach {
    background: url("../images/form/IGNITEYLS Form-11.png") no-repeat;
    background-size: contain;
    color: transparent;
    font-size: 2rem;
    width: 100%;
  }

  .formRemarks {
    background: url("../images/form/IGNITEYLS Form-12.png") no-repeat;
    background-size: contain;
    color: transparent;
    font-size: 2rem;
    width: 100%;
  }

  .form-group button {
    background: transparent url("../images/form/IGNITEYLS Form-14.png") no-repeat center;
    background-size: contain;
    font-size: 4rem;
    color: transparent;
    border: none;
  }

}

