.igniteYouth  {
    background: black url("../images/background/IGNITEYLS Website Draft2-08.png") no-repeat center;
    background-size: 100% 100%;
    height: 150em;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: center;
}

.registerBtn {
    min-width: 100%;
    bottom: 0;
    position: absolute;
}

.attendInPerson {
    background : transparent url("../images/buttons/buttons-full/Register Buttons Full-02.png") no-repeat center;
    background-size: 100% 100%;
    height: 7rem;
    width: 30rem;
    color: transparent;
    padding-top: 2rem;
    margin-top: 90rem;
    left: 63%;
    border: none;
    position: sticky;
}

.attendInPerson button:hover {
    color: transparent;
    background-color: transparent;
}

.attendInPerson button:active {
    color: transparent;
    background-color: transparent;
}

.attendOnline {
    background : transparent url("../images/buttons/buttons-full/Register Buttons Full-01.png") no-repeat center;
    background-size: 100% 100%;
    height: 7rem;
    width: 30rem;
    color: transparent;
    padding-top: 2rem;
    top: 85%;
    left: 63%;
    border: none;
    position: sticky;
}

.attendOnline button:hover {
    color: transparent;
    background-color: transparent;
}

.attendOnline button:active {
    color: transparent;
    background-color: transparent;
}

.whatIsIgnite {
    background: black url("../images/background/IGNITEYLS Website Draft2-09.png") no-repeat center;
    background-size: 100% 100%;
    height: 80em;
    color: white;
}

.speakers {
    background: #000000 url("../images/background/IGNITEYLS Website Draft2-10.png") no-repeat center;
    background-size: 100% 100%;
    height: 200em;
    color: white;
}

.instagramIgnite {
    background: black url("../images/background/IGNITEYLS Website Draft2-05.png") no-repeat center;
    background-size: 100% 100%;
    height: 35em;
    color: white;
}

.specialPeformance {
    background: black url("../images/background/IGNITEYLS Website Draft2-11.png") no-repeat center;
    background-size: 100% 100%;
    height: 90em;
    color: white;
}

.countdownIgnite {
    background: black url("../images/background/IGNITEYLS Website Draft2-07.png") no-repeat center;
    background-size: 100% 100%;
    height: 30em;
    align-items: center;
    color: white;
}