@media only screen and (max-width: 1199px) {
    #contentIYLS-desktop {
        display: none;
    }
    #contentIYLS-mobile {
        display: block;
    }

    .igniteYouth {
        background: black url("../images/background/mobile/section1-2.png") no-repeat center;
        background-size: cover;
        padding-bottom: 10vh;
    }

    .igniteYouth .igniteLogo img{
        padding-top: 3vh;
        padding-left: 3vh;
        width: 30%;
    }

    .igniteYouth img {
        padding-top: 8vh;
        width: 80%;
    }

    .attention {
        background: black url("../images/background/iyls/section1-2.png") no-repeat center;
        background-size: cover;
    }

    .attentionTitle {
        width: 50%;
        height: auto;
    }

    .attentionText {
        margin-top: 5vh;
        width: 90%;
        height: auto;
    }

    .scheduleContainer {
        background: black url("../images/background/mobile/scheduleBg.png") no-repeat center;
        background-size: cover;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .scheduleRow {
        padding-top: 20vh;
    }

    .scheduleContainer .leftSchedule img {
        width: 55%;
        height: auto;
    }

    .scheduleTime {
        padding-top: 10vh;
        width: 50%;
        height: auto;
    }

    .attendInPerson {
        margin-top: 5vh;
        width: 50%;
        height: auto;
        cursor: pointer;
    }

    .scheduleOnline {
        margin-top: 5vh;
        width: 50%;
        height: auto;
        cursor: pointer;
    }

    .registrationCloses {
        width: 40%;
        height: auto;
        cursor: pointer;
    }

    .whatIsIgnite {
        background: black url("../images/background/mobile/whatIYLSBg.png") no-repeat center;
        background-size: cover;
        padding-left: 5vh;
    }

    .whatIsIgniteTitle {
        margin-top: 5vh;
        width: 50%;
        height: auto;
    }

    .whatIsIgniteText {
        margin-top: 5vh;
        width: 90%;
        height: auto;
    }

    .speakers-andy {
        background: #000000 url("../images/background/mobile/andyBg.png") no-repeat center;
        background-size: cover;
        padding-top: 5vh;
    }

    .topSpeaker{
        position: relative;
    }

    .speakers-andy .leftSpeaker img{
        bottom: 0;
        width: 110%;
        height: auto;
        padding-left: 4vw;
        margin-bottom: 2vh;
    }

    .speakers-andy .rightSpeaker img{
        position:absolute;
        bottom:0;
        left: 0;
        width: 100%;
        height: auto;
    }

    .speakers-kenny {
        background: #000000 url("../images/background/mobile/kennyBg.png") no-repeat center;
        background-size: cover;
        padding-top: 5vh;
    }

    .speakers-kenny .leftSpeaker img{
        bottom: 0;
        width: 115%;
        height: auto;
        padding-left: 4vw;
        margin-bottom: 2vh;
    }

    .speakers-kenny .rightSpeaker img{
        position:absolute;
        bottom:0;
        left: 0;
        width: 100%;
        height: auto;
    }

    .speakers-marriane {
        background: #000000 url("../images/background/mobile/marrianeBg.png") no-repeat center;
        background-size: cover;
    }

    .speakers-marriane .leftSpeaker img{
        padding-top: 5vh;
        width: 120%;
        height: auto;
        padding-left: 4vw;
        margin-bottom: 2vh;
    }

    .speakers-marriane .rightSpeaker img{
        position:absolute;
        bottom:0;
        left: 0;
        width: 100%;
        height: auto;
    }

    .specialPerformance {
        background: black url("../images/background/iyls/section6.png") no-repeat center;
        background-size: cover;
        padding-bottom: 5vh;
    }

    .specialPerformance .specialTitle {
        margin-top: 5vh;
        width: 50%;
        height: auto;
    }

    .specialPerformance .specialName {
        padding-top: 18vh;
        margin-left: 5vw;
        width: 50%;
    }

}


@media only screen and (min-width: 1200px) {
    #contentIYLS-desktop {
        display: block;
    }

    #contentIYLS-mobile {
        display: none;
    }

    .igniteYouth {
        background: black url("../images/background/iyls/section1.png") no-repeat center;
        background-size: cover;
        height: 100vh;
        align-items: center;
    }

    .igniteYouth .igniteLogo img {
        margin-left: 5vw;
        margin-top: 3vw;
        width: 20%;
        height: auto;
    }

    .igniteYouth .igniteTitle img {
        margin-top: 10vh;
        margin-left: 30%;
        width: 50%;
        height: auto;
    }

    .attention {
        background: black url("../images/background/iyls/section1-2.png") no-repeat center;
        background-size: cover;
        height: 60vh;
        align-items: center;
    }

    .attentionTitle {
        margin-top: 5vh;
        width: 50%;
        height: auto;
    }

    .attentionText {
        margin-top: 5vh;
        width: 70%;
        height: auto;
    }

    .scheduleContainer {
        background: black url("../images/background/iyls/section2.png") no-repeat center;
        background-size: cover;
        height: 105vh;
        align-items: center;
    }

    .scheduleRow {
        padding-top: 20vh;
    }

    .scheduleContainer .leftSchedule img {
        width: 55%;
        height: auto;
    }

    .scheduleTime {
        width: 50%;
        height: auto;
    }

    .attendInPerson {
        margin-top: 5vh;
        width: 50%;
        height: auto;
        cursor: pointer;
    }

    .scheduleOnline {
        margin-top: 5vh;
        width: 50%;
        height: auto;
        cursor: pointer;
    }

    .registrationCloses {
        width: 50%;
        height: auto;
        cursor: pointer;
    }

    .whatIsIgnite {
        background: black url("../images/background/iyls/section3.png") no-repeat center;
        background-size: cover;
        height: 100vh;
    }

    .whatIsIgniteTitle {
        margin-top: 5vh;
        width: 50%;
        height: auto;
    }

    .whatIsIgniteText {
        margin-top: 15vh;
        width: 90%;
        height: auto;
    }

    .speakers-andy {
        background: #000000 url("../images/background/mobile/andyBg.png") no-repeat center;
        background-size: cover;
        padding-top: 15vh;
    }

    .topSpeaker{
        position: relative;
    }

    .speakers-andy .leftSpeaker img{
        bottom: 0;
        width: 110%;
        padding-left: 4vw;
        margin-bottom: 5vh;
    }

    .speakers-andy .rightSpeaker img{
        position:absolute;
        bottom:0;
        right: 0;
        width: 80%;
        height: auto;
    }

    .speakers-kenny {
        background: #000000 url("../images/background/mobile/kennyBg.png") no-repeat center;
        background-size: cover;
        padding-top: 15vh;
    }

    .speakers-kenny .leftSpeaker img{
        bottom: 0;
        width: 130%;
        height: auto;
        padding-left: 4vw;
        margin-bottom: 5vh;
    }

    .speakers-kenny .rightSpeaker img{
        position:absolute;
        bottom:0;
        left: 0;
        width: 100%;
        height: auto;
    }

    .speakers-marriane {
        background: #000000 url("../images/background/mobile/marrianeBg.png") no-repeat center;
        background-size: cover;
        padding-top: 15vh;
    }

    .speakers-marriane .leftSpeaker img{
        padding-top: 5vh;
        width: 130%;
        height: auto;
        padding-left: 4vw;
        margin-bottom: 5vh;
    }

    .speakers-marriane .rightSpeaker img{
        position:absolute;
        bottom:0;
        left: 0;
        width: 100%;
        height: auto;
    }

    .specialPerformance {
        background: black url("../images/background/iyls/section6.png") no-repeat center;
        background-size: cover;
        height: 100vh;
        color: white;
        position: relative;
    }

    .specialPerformance .specialTitle {
        margin-top: 5vh;
        width: 50%;
        height: auto;
    }

    .specialPerformance .specialName {
        margin-top: 30vh;
        margin-left: 10vh;
        width: 50%;
        height: auto;
    }

    /*.countdownIgnite {*/
    /*    background: black url("../images/background/IGNITEYLS Website Draft2-07.png") no-repeat center;*/
    /*    background-size: 100% 100%;*/
    /*    height: 40em;*/
    /*    align-items: center;*/
    /*    color: white;*/
    /*}*/
}