html {
    height: 100%;
}

@font-face {
    font-family: GothamBlack;
    src: url(./fonts/Gotham-Black.woff);
}

@font-face {
    font-family: GothamLight;
    src: url(./fonts/Gotham-Light.woff);
}


@font-face {
    font-family: GothamUltraItalic;
    src: url(./fonts/Gotham-UltraItalic.woff);
}


body {
    overflow-x: hidden;
    height: 100%;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

@media only screen and (min-width: 1200px) {
    #content-desktop {
        display: block;
    }

    #content-mobile {
        display: none;
    }
}

@media only screen and (max-width: 1199px) {
    #content-desktop {
        display: none;
    }

    #content-mobile {
        display: block;
    }
}