@media only screen and (min-width: 1200px) {
    .blog-header {
        background: black url("../../images/background/desktop/blog/header-bg.png") no-repeat center;
        background-size: cover;
        height: 100vh;
        align-items: center;
        position: relative;
    }

    .header-content {
        padding-top: 25vh;
    }

    .blog-title {
        width: 50%;
    }

    .header-text {
        width: 50%;
    }

    .blog-button {
        width: 30%;
    }

    .blog-content {
        background: black no-repeat center;
        background-size: cover;
        height: 100%;
        align-items: center;
        position: relative;
        padding: 2vh 2vw;
    }

    .blog-row {
        padding: 4vh 0;
    }

    .sample-img {
        width: 100%;
    }

    .content-title {
        padding-top: 1vh;
        font-size: 20px;
        line-height: 3vh;
        color: orange;
    }

    .content-nameDate {
        padding-top: 1vh;
        font-size: 16px;
        line-height: 2vh;
        color: white;
    }

    .blog-text {
        padding-top: 1vh;
        font-size: 14px;
        color: white;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .read-more {
        color: orange;
        cursor: pointer;
    }
}