@media only screen and (min-width: 1200px) {
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    .section-1 {
        background: black url("../../images/background/desktop/home/section1.png") no-repeat center;
        background-size: cover;
        height: 100vh;
        align-items: center;
        position: relative;
    }

    .section-1 .topTitle {
        padding-top: 15rem;
        width: 100%;
    }

    .section-1 .watchLive img{
        padding-top: 15vh;
        width: 25%;
    }

    .section-1 .leftTitle img {
        position: relative;
        width: 70%;
        height: auto;
    }

    .section-1 .rightTitle img {
        position: relative;
        width: 70%;
        height: auto;
    }

    .registerHomeBtn {
        width: 100%;
        text-align: center;
        position: absolute;
    }

    .registerHomeBtn img {
        width: 30vw;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .section-2 {
        background: #ff6600 url("../../images/background/desktop/home/section2.png") no-repeat center;
        background-size: 100% 100%;
        height: 100vh;
        min-width: 100%;
        color: white;
    }

    .section-2 img {
        margin-top: 5rem;
        width: 50%;
        height: auto;
    }

    .youtube-video {
        width: 50vw;
        height: 25vw;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .section-3 {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .column-1 {
        background: black url("../../images/background/desktop/home/column1.png") no-repeat center;
        background-size: cover;
        min-height: 100vh;
        align-items: center;
        color: white;
    }

    .column-1 img {
        margin-top: 30vh;
        width: 60%;
        height: auto;
    }

    .tellMeMoreBtn {
        width: 100%;
    }

    .tellMeMoreBtn img {
        width: 35%;
        margin-bottom: 15vh;
    }

    .column-2 {
        background: black url("../../images/background/desktop/home/column2.png") no-repeat center; /*change to column2 when rally comes out*/
        background-size: cover;
        min-height: 100vh;
        align-items: center;
        color: white;
    }

    .column-2 img {
        margin-top: 32.5vh;
        width: 60%;
    }

    .tellMeMoreBtn {
        width: 100%;
    }

    .tellMeMoreBtn img {
        width: 35%;
        margin-bottom: 15vh;
    }

    .section-4 {
        background: black url("../../images/background/desktop/home/section4.png") no-repeat center;
        background-size: cover;
        height: 60vh;
        position: relative;
    }

    .section-4 .topTitle {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .section-4 .leftTitle img {
        bottom: 0;
        width: 35rem;
        height: auto;
    }

    .section-4 .rightTitle img {
        padding-top: 15vh;
        width: 70%;
        height: auto;
    }

    .section-5 {
        background: black;
        background-size: cover;
        height: 90vh;
        align-items: center;
    }

    .speakerTitle {
        padding-top: 5rem;
        width: 50%;
        height: auto;
    }

    .speakers {
        padding-top: 5rem;
        background: black;
    }

    .speakerName img {
        width: 50%;
        height: auto;
    }

    .coming-soon {
        background: black url("../../images/background/desktop/comingSoon/ignite-coming-soon-bg.jpg") no-repeat top;
        background-size: cover;
        height: 100vh;
        }

        
    .ignite-logo-loading img {
        height:20rem;
        margin-bottom:100px    
    }

}