@media only screen and (min-width: 1200px) {
    .igniteRally {
        background: black url("../../images/background/desktop/rally/background-1.png") no-repeat center;
        background-size: cover;
        height: 100vh;
        align-items: center;
    }

    .igniteRally .rallyLogo img {
        margin-left: 5vw;
        margin-top: 3vw;
        width: 20%;
        height: auto;
    }

    .igniteRally .rallyTitle img {
        margin-top: 20vh;
        margin-left: 30%;
        width: 40%;
        height: auto;
    }

    .rallySchedule {
        background: black center;
        background-size: cover;
        height: 140vh;
        align-items: center;
    }

    .rallySchedule .watchLive img {
        padding: 10vh 0;
        width: 30%;
    }

    .rallySchedule .streamingTime img {
        margin-top: 15vh;
        margin-left: 25%;
        width: 50%;
        height: auto;
    }

    .rallySchedule .whatsHappening {
        margin: 10vh 0;
    }

    .rallySchedule .whatsHappening img {
        width: 40%;
    }

    .rallyInfo {
        background: black url("../../images/background/desktop/rally/background-3.png") no-repeat center;
        background-size: cover;
        height: 120vh;
        align-items: center;
    }

    .rallyInfo .topText img {
        margin-top: 15vh;
        width: 100%;
        height: auto;
    }

    .rallyInfo .middleImage img {
        margin-top: 10vh;
        margin-left: 25%;
        width: 50%;
        height: auto;
    }

    .rallyInfo .bottomText img {
        margin-top: 10vh;
        width: 100%;
        height: auto;
    }

    .speakersRally {
        background: black;
    }

    .speakersRally img {
        margin-left: 30vh;
        width: 70%;
    }

    .streamingLive {
        background: black url("../../images/background/desktop/rally/background-2.png") no-repeat center;
        background-size: cover;
        height: 110vh;
        align-items: center;
    }

    .streamingLive .streamingTime img {
        margin-top: 15vh;
        margin-left: 25%;
        width: 50%;
        height: auto;
    }
}